.desktop-icon {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
}

.desktop-icon img {
    max-width: 40px;
    max-height: 40px;
}

.desktop-icon p {
    margin: 0;
    padding: 0;
    word-break: break-word;
    font-size: 12px;
}