.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.window-bar {
    background-color: white;
    padding: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    user-select: none;
}

.window-content {
    background-color: white;
    min-height: 100px;

}